* {
    box-sizing: border-box;
}

body {
    font-family: cursive;

    padding: 40px;
}

h1 {
    font-family: cursive;
    text-align: center;
    margin-bottom: 40px;
}
p {
    margin: 0;
    font-size: 20px;
}

.section {
    position: relative;
    border: 1px solid black;
    background-color: rgb(220, 208, 208);
    padding: 50px 15px 15px;
    margin: 20px;
    font-size: 20px;

}

.title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-family: sans-serif;
}

.cappuccino .title {
  background-color: #caa472;
  color: #3a2a14;
}
.espresso .title {
  background-color: #8a5a2e;
  color: #f6e7c1;
}

.latte .title {
  background-color: #d7b98e;
  color: #4a3215;
}



@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
        padding: 10px;

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;

    }
    .col-md-6:nth-child(3) {
        width: 100%;
        float: left;
        clear: both;

    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
        float: left;

    }
}

::selection {
  background-color: #eac891;
  color: #3b2b17;               
}

